* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

#proConList {
    display: none;
}

#proConList {
    display: none;
    flex-direction: row;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;  
}